body {
    background-color: rgb(190,150,200);
    color: rgb(106, 27, 154);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-size: 100%;
}
